<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Restro</title>
</head>
<body>
  <nav> 
    <ul>
    <li><a routerLink="/User" routerLinkActive="active"> <i class="fa-solid fa-user"></i>User </a></li>
    <li><a routerLink="/admin" routerLinkActive="active"> Admin </a></li> 
    <li><a routerLink="/Owner" routerLinkActive="active"><i class="fal fa-utensils-alt"></i>Owner</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
</body>
</html>
