$dark1:rgb(251, 133, 0);
$dark2:rgb(255, 183, 3);
$light1:rgb(142, 202, 230);
$light2:rgb(248, 255, 248);
$dark3:rgb(2, 48, 71);
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
body {
  background-image: url("https://img.freepik.com/free-photo/paneer-butter-masala-cheese-cottage-curry-served-with-rice-laccha-paratha_466689-73715.jpg?w=740&t=st=1649768061~exp=1649768661~hmac=a02212798a42381f6e6f64386a18f5b0fbf01d556a4c40715510534cbd95511e");
    
  background-color: $dark3 ;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    font-family: 'Mukta', sans-serif;
    scroll-behavior: smooth;
    transition: ease-in-out 0.5s;
}
nav{
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $light1;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
    }
    li {
      float: right;
    }
    li a {
      display: block;
      color: $dark3;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: $dark2;
    }
    .active {
      background-color: $dark2;
  }
  }
  h1{
    font-size: 3em;
    font-weight: bold;
    color: $light2;
    text-align: center;
  }
  h2{
    font-size: 2em;
    font-weight: bold;
    color: $light2;
    text-align: center;
  }
  table{
    border-collapse: collapse;
    width: 100%;
    color: $dark3;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: $light2;
  }
  th{
    background-color: $dark2;
    color: $light2;
  }
  tr:nth-child(even){
    background-color: $light1;
  }
  tr:nth-child(odd){
    background-color: $light2;
  }
  td{
    padding: 10px;
  }
 input[type=text],input[type=number], select {
    padding: 12px 20px;
    margin-left:  1%;
    box-sizing: border-box;
    border: 2px solid $dark2;
    border-radius: 4px;
    background-color: $light2;
    color: $dark3;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
 }
 button {
    background-color: $dark2;
    color: $light2;
    padding: 12px 20px;
    margin-left:  1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
  }
  button:hover {
    background-color: $dark1;
    color: $light1;
    transform: scale(1.1);
  }
  h3{
    margin-left: 1%;
    font-size: 1.5em;
    font-weight: bold;
    color: $dark2;
  }
  label{
    font-size: 1.2em;
    font-weight: bold;
    color: $dark2;
    margin-left: 1%;
  }
  form{
    margin-left: 1%;
    padding: 10px;
    border: 2px solid $light1;
    border-radius: 4px;
  }
  div{
    margin-left: 1%;
    padding: 10px;
  }
 