/* You can add global styles to this file, and also import other style files */


:root {
    --color-1: #1DB954;
    --color-2: #e31f29;
    --color-3: #313492;
  }
  
  body {
    background: linear-gradient(25deg, var(--color-3) 0%, var(--color-1) 100%);
    background-attachment: fixed;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.active{
    background-color: #1DB954;
    color: white;
}
.brand {
  padding-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--color-1);
    color: var(--color-3);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
  }
  label,
  option
   {
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
    color: var(--color-3);
    font-size: 16px;
    
  }
  small {
    font-size: 12px;
    color: var(--color-3);
  }
.mat-subheading-2,h2{
    font-size: 30px;
    color: var(--color-1);
    text-align: center;
    padding-top: 2%;
  }



  *::selection {
    background-color: var(--color-3);
    color: var(--color-1);
  }
  
  *::-webkit-scrollbar {
    width: 0.6rem;
    border: var(--color-1);
  }
  
  *::-webkit-scrollbar-track {
    background-color: var(--color-3);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    border-radius: 1px;
  }

  .navbar{
    justify-content: space-between;
    padding-right: 1.5rem;
}

table{
  border-collapse: collapse;
  width: 100%;
  font-family: 'Mukta', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
th{
  
  color: var(--color-3);
}

td{
  padding: 10px;
}